[submodule "lib/wolfssl"]
	path = lib/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
[submodule "lib/mongoose"]
	path = lib/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "games/DOOM"]
	path = games/DOOM
	url = https://github.com/insane-adding-machines/DOOM.git
