[submodule "lib/wolfssl"]
	path = lib/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
[submodule "lib/mongoose"]
	path = lib/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "games/DOOM"]
	path = games/DOOM
	url = https://github.com/insane-adding-machines/DOOM.git
[submodule "frosted-headers"]
	path = frosted-headers
	url = https://github.com/insane-adding-machines/frosted-headers.git
[submodule "micropython"]
	path = micropython
	url = https://github.com/insane-adding-machines/micropython
[submodule "netutils/wolfssh"]
	path = netutils/wolfssh
	url = https://github.com/wolfSSL/wolfssh.git
