mainmenu "FROSTED Userspace content selection"
menu "Libraries"
endmenu

menu "Applications"

menu "Base binary utils"
config APP_INIT
bool "init: main task"
default y

config APP_IDLING
bool "idling: flashing leds"
default y

config APP_FRESH
bool "fresh: Frosted shell"
default y

config APP_CAT
    bool "cat"

config APP_ECHO
    bool "echo"
config APP_LS
    bool "ls"
config APP_TOUCH
    bool "touch"
config APP_RM
    bool "rm"
config APP_KILL
    bool "kill"
config APP_TRUE
    bool "true"
config APP_FALSE
    bool "false"
config APP_LN
    bool "ln"
config APP_MKDIR
    bool "mkdir"
config APP_MOUNT
    bool "mount"

endmenu 

menu "Networking utils"
config APP_IFCONFIG
    bool "ifconfig"
config APP_TELNETD
    bool "telnetd"
config APP_NETCAT
    bool "netcat"
endmenu


endmenu
