mainmenu "FROSTED Userspace content selection"
menu "Libraries"
endmenu

menu "Applications"

menu "Base binary utils"
config APP_INIT
bool "init: main task"
default y

config APP_IDLING
bool "idling: flashing leds"
default y

config APP_FRESH
bool "fresh: Frosted shell"
default y

config APP_CAT
    bool "cat"

config APP_ECHO
    bool "echo"
config APP_LS
    bool "ls"
config APP_TOUCH
    bool "touch"
config APP_RM
    bool "rm"
config APP_KILL
    bool "kill"
config APP_TRUE
    bool "true"
config APP_FALSE
    bool "false"
config APP_LN
    bool "ln"
config APP_MKDIR
    bool "mkdir"
config APP_MOUNT
    bool "mount"
config APP_WC
    bool "wc"
config APP_HEAD
    bool "head"
config APP_TAIL
    bool "tail"

endmenu

menu "Networking utils"
config APP_IFCONFIG
    bool "ifconfig"
config APP_HOST
    bool "host"
config APP_TELNETD
    bool "telnetd"
config APP_NETCAT
    bool "netcat"
endmenu

menu "Hardware utils"
config APP_MORSE
    bool "Morse led blinker"
config APP_RANDOM
    bool "Random number generator"
config APP_SENSOR
    bool "Test for sensors"
endmenu

menu "Games"
config APP_DICE
    bool "Roll the dice"
endmenu


endmenu
